<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Burocrazy | Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="MSSmartTagsPreventParsing" content="true">
	<link rel="stylesheet" href="/media/css/base.css" type="text/css">
</head>
<body id="homepage">
<div id="logo"><a href="/"><img src="/media/img/gravital-logo.png" alt="Gravital logo"></a></div>
<h1>Error.</h1>
<ul id="nav">
	<li class="first"><a rel="home" href="/">Home</a></li>
	<li><a href="/download/">Download</a></li>
	<li><a href="/repository/">Repository</a></li>
	<li><a href="/weblog/">Weblog</a></li>
	<li><a href="http://dev.gravital.net/">Code</a></li>
</ul>
<p>An error occurred while processing your request. Please try refreshing the page, or go back to the <a href="/">homepage</a>.</p>
</body>
</html>