<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Gravital | {% block title %}Making design creative again{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="MSSmartTagsPreventParsing" content="true">
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/base.css" type="text/css">
	<meta name="keywords" content="Graphic Design, Natural Language, NodeBox, Python, Mac, framework, open-source" />
	<meta name="description" content="Gravital is an open-source application for graphic designers that works with nodes instead of point-and-click." />
	{% block extrahead %}{% endblock %}
</head>
<body id="{% block sectionid %}page{% endblock %}">
<div id="wrap">
<div id="header">
<div id="logo"><a href="/"><img src="{{ MEDIA_URL }}/img/gravital-logo.png" alt="Gravital logo"></a></div>
<ul id="nav">
	<li class="first"><a rel="home" href="/">Home</a></li>
	<li><a href="/download/">Download</a></li>
	<li><a href="/documentation/">Documentation</a></li>
	<li><a href="/repository/">Repository</a></li>
	<li><a href="/weblog/">Weblog</a></li>
	<li><a href="/forum/">Forum</a></li>
	<li><a href="http://dev.gravital.net/">Code</a></li>
</ul>
</div> <!-- END #header -->
<div id="main">
<h1>{% block pagetitle %}{% endblock %}</h1>
<div id="breadcrumbs">{% block breadcrumbs %}<a href="/">Home</a>{% endblock %}</div>
<div id="columnwrap">
	{% block columnwrap %}
		<div id="content-main">
		{% block content %}{% endblock %}
		</div>
		<!-- END #content-main -->
	{% endblock %}
</div> <!-- END #columnwrap -->
</div> <!-- END #main -->
<p id="footer">Copyright &copy; 2006-2008 <a href="/">Experimental Media Group</a>. Get more information <a href="/about/">about us</a> or <a href="/about/colophon/">this website</a>. Valid <a href="http://validator.w3.org/check?uri=referer">HTML</a> and <a href="http://jigsaw.w3.org/css-validator/">
CSS</a>.</p>
</div> <!-- END #wrap -->
</body>
</html>