{% extends "base_forum.html" %}
{% load typogrify %}
{% block breadcrumbs %}{{ block.super }} &rarr; <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> &rarr; {{ topic.title }}{% endblock %}
{% block content %}
<table class="posts" cellspacing="0" cellpadding="0">
<tr><th>Author</th><th>Topic: {{ topic.title }}</th></tr>
{% for post in topic.post_set.all %}
<tr>
	<td>{{ post.user.username }}</td>
	<td>
		<p class="date">{{post.created_at|date:"j N y"}} {{post.created_at|date:"H:i"}}</p>
		{{ post.body|typogrify|linebreaks|urlizetrunc:40 }}
		{% ifequal user post.user %}
		<span class="small"><a href="{{ post.get_absolute_url }}edit/">Edit</a></span>
		{% endifequal %}
	</td>
</tr>
{% endfor %}
</table>
<div class="buttons">
<span class="button"><a href="{{ topic.get_absolute_url }}reply/">Reply to topic</a></span>
{% ifequal user topic.user %}
<span class="button"><a href="{{ topic.get_absolute_url }}edit/">Edit topic title</a></span>
{% endifequal %}
</div>
{% endblock %}
